.loader {
  display: flex;                  
  justify-content: center;        /* Центрування по горизонталі */
  align-items: center;            /* Центрування по вертикалі */
  height: 100vh;                 /* Встановлюємо висоту на 100% висоти вікна */
}