@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.store{

  &__block{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 30px;
    margin-top: 30px;

  }

}
.btn-back{
  display: flex;
  gap: 8px;
  align-items: center;
  color: $background-section;

  &__icon{
    fill: $white-color;
    width: 18px;
    height: 18px;
  }

  &__text{
    font-size: 16px;
    font-weight: 500;
    color: $white-color;
  }

  &:hover{
    color: $white-color;
  }
 
}