@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;


.chat-modal {
  position: absolute;
 bottom: var(--chat-form-bottom, 0); 
  right: var(--chat-form-right, 0);
  transform: translateX(-50%);
  background-color: $background-section;
  border: 1px solid $background-color;
  color: $white-color;
  padding: 15px 20px;
  width: 300px;
  min-height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  transition: transform 0.3s ease, opacity 0.3s ease;

  &.active {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
}
  .chat-modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.chatForm{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;


  &__phone{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: $background-color;
    color: $white-color;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    outline: none;
    cursor: pointer;
  }
  &__message{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: $background-color;
    color: $white-color;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    outline: none;
    cursor: pointer;
  }

  &__send{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: $background-color;
    color: $white-color;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    &:hover {
      background-color:$black-color;
    }
    @include md {
      font-size: 12px;
      padding: 8px 14px;
    }
  }
}

.error-message{
  color: $error-color;
}

