@use '../../styles/variables.scss' as *;

.order {
    max-width: $containerWidth + px;
    height: 70vh;
    margin: 0 auto;
    padding: $spacing-unit * 2;
    font-family: 'Roboto', sans-serif;
    color: $white-color;
    background-color: $background-color;

    &__title {
        font-size: 2rem;
        text-align: center;
        margin-top: 30px;
        margin-bottom: $spacing-unit * 2;

        @media (min-width: 576px) {
            font-size: 2.5rem;
        }
    }

    &__info {
        font-size: 1rem;
        line-height: 1.5;
        max-width: 800px;
        margin: 0 auto;

        p {
            margin-bottom: 1rem;
        }

        // strong {
        //     color: $accent-color; // якщо в тебе є змінна акцентного кольору
        // }
    }
}