@import 'modern-normalize/modern-normalize.css';
/* Oswald */
@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../assets/fonts/Oswald-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* Source Serif */
@font-face {
  font-family: "SourceSerif";
  src: url("../assets/fonts/SourceSerif4-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SourceSerif";
  src: url("../assets/fonts/SourceSerif4-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
body {
  font-family: "SourceSerif", sans-serif;
  background-color: #0d1b2a;
  font-weight: 400;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 30px 0;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.75rem;
  }
}

h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 1.2;
}
@media (max-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}

main {
  margin-top: 90px;
}

.btn-back {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #495057;
}
.btn-back__icon {
  fill: #f8f9fa;
  width: 18px;
  height: 18px;
}
.btn-back__text {
  font-size: 16px;
  font-weight: 500;
  color: #f8f9fa;
}
.btn-back:hover {
  color: #f8f9fa;
}/*# sourceMappingURL=global.css.map */