// Кольори
$background-color: #0d1b2a;
$background-section: #495057;
$white-color: #f8f9fa;
$second-white-color: #dee2e6;
$black-color: #212529;
$grey-color: #adb5bd;
$error-color: #590d22;
// Шрифти
$base-font-size: 16px;

// Відступи
$spacing-unit: 8px;


$containerWidth: 1440;
$minWidth: 380;