// Кольори
$background-color: #343a40;
$background-section: #495057;
$white-color: #f8f9fa;
$second-white-color: #dee2e6;
$black-color: #212529;

$grey-color: #adb5bd;
// Шрифти
$base-font-size: 16px;

// Відступи
$spacing-unit: 8px;


$containerWidth: 1440;
$minWidth: 380;