@use '../../styles/variables.scss' as *;

.header{
  background-color: transparent;
  display: flex;
  align-items: center;
justify-content: space-between;
  gap: 20px;
  width: 100%;

  @media (min-width: 768px) {
    padding: 0 10px;
  }
  @media (min-width: 992px){
    padding: 0 20px;
  }
  
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    margin: 0;
    padding: 10px;
    justify-content: center;

      @media (min-width: 768px) {
          padding: 20px;
        }
  
  
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: $second-white-color;
    text-decoration: none;
    font-size: 16px;
    padding: 4px;
  
    svg {
      width: 12px;
      height: 12px;
    }
  
    &:hover {
      color: $grey-color;
    }
  }}
  
  
  }

  .logo{
    width: 150px;
    padding: 10px;


   @media (min-width: 768px){
      padding: 20px;
   }


  }