@use '../../styles/variables.scss' as *;

.header{
  padding: 0 60px;
  background-color: $black-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &__menu{
    display: flex;
    gap: 20px; 
    justify-content: end;
    color: $white-color;
    text-transform: uppercase;
  }
  
  
  }