@use '../../styles/variables.scss' as *;

.header{
  position: absolute;
  top: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
justify-content: space-between;
  gap: 20px;
  width: 100%;

  @media (min-width: 768px) {
    padding: 0 10px;
  }
  @media (min-width: 992px){
    padding: 0 20px;
  }
  

  
  &__menu{
    display: flex;
    gap: 20px; 
    justify-content: end;
    color: $white-color;
    text-transform: uppercase;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
  
  
  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: $second-white-color;
    text-decoration: none;
    font-size: 12px;
    padding: 8px;
  
    svg {
      width: 12px;
      height: 12px;
    }
  
    &:hover {
      color: $grey-color;
    }
  }}
  
  
  }

  .logo{
    border: 100px;
  }