.gallery-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.gallery{
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  overflow-x: scroll; 
  scroll-behavior: smooth; 

&__item{
  border-radius: 8px;
  flex-shrink: 0;
  width: auto;
  flex: 0 0 auto;
}

&__img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
}
.gallery-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.gallery-button.left {
  left: 10px;
}

.gallery-button.right {
  right: 10px;
}

.gallery-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}