.gallery{
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 10px;

&__item{
  border-radius: 8px;

}

&__img{
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
}