@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.headlights{
  display: block;
  padding: 0 30px;

&__list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
};

&__item{
  display: flex;
  flex-direction: row;
  align-items: center ;
  gap: 10px;
  justify-content: start;
  width: 100%;
  background-color: $grey-color;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease;


  @media (max-width: 768px){
    flex-direction: column;
  }
}

&__img-thumb{
  width: 250px;
  height: 200px;
  border-radius: 8px;
  background-color: $background-color;
}

&__img{
  height: 200px;
  width: 100%;
  object-fit: cover;
border-radius: 8px;
}

&__price{
  font-size: 24px;
  font-weight: bold;

}

&__button{
  background-color: $background-color;
      color: $white-color;
      padding: 10px 18px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      transition: background-color 0.3s ease;
      &:hover {
        background-color:$black-color;
      }
      @include md {
        font-size: 12px;
        padding: 8px 14px;
      }
    }
}

.block {
  max-width: 300px; 
  margin: 0 auto;
  text-align: start; 
}
